html{
  font-size:10px;
  box-sizing: border-box;
  background:url("https://www.xmple.com/wallpaper/black-blue-linear-gradient-1920x1080-c2-b0e0e6-000000-a-180-f-14.svg");
  background-size: cover;
  font-style: sans-serif;
  color: white;
}
*, *:before, *:after {
      box-sizing: inherit;
    }
body{
  display:flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top:10%;
  left:10%;
  height: 80vh;
  width:80vw
}
.container{
  height:40rem;
  width:25rem;
  background:url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSC-IViA7psPzb9uX9r-EFiWARmXc2-sBJ51fuvTNN8Zw1Tt1h77g");
  background-size:cover;
}
.header{
  height:5%;
}
.content{
  height:45%;
}
.speak{
  position: relative;
  top : 10%;
  height: 10%;
}
.footer{
  height: 10%;
  position: relative;
  top:30%;
}

/*header CHILD*/
.header{
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.battery-level{
  position: relative;
  background: #ffffff;
  display: block;
  height:50%;
  width:18%;
}
.battery-level:before{
  content:"";
  position: absolute;
  display:block;
  background: transparent;
  border:1px solid #ffffff;
  height:1.0rem;  
  width:5.0rem;
  border-radius:2px;
}
.battery-level:after{
  content:"";
  display: block;
  background: transparent;
  border:1px solid #ffffff;
  height:0.4rem;
  width:0.3rem; 
  position: absolute;
  left:4.9rem;
  top:0.3rem;
}
.time-now{
  display: flex;
  height: 75%;
  width:25%;
  justify-content: flex-end;
  align-items: center;
  font-size:11px;
}
